# EditorConfig 配置文件
# 详细文档: https://editorconfig.org

# 根配置文件标识
root = true

# 适用于所有文件
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript/TypeScript
[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# CSS/Less/SCSS
[*.{css,less,scss}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Makefile
[Makefile]
indent_style = tab
